@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _Localizer

@{
    ViewBag.Title = _Localizer["Succesfull Request"];
    Layout = "_Layout";
}

<h2 class="h2">@_Localizer["Your request has been sent."]</h2>
<p>@_Localizer["An activationlink has been send to your email"]</p>