
# Default ignored files
/.idea.Stemtest-Daemons/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.Stemtest-Daemons/.idea/dataSources/
/.idea.Stemtest-Daemons/.idea/dataSources.local.xml