$background: white;
$primary: #0066da;
$secondary: #23aab3;///23aab3
$light: #82e2ff;
$accent: #006daaff;
$table-color: #65afff;
$input: rgba(246, 246, 246, 0.59);
$balfa: rgba(85, 85, 85,0.5);
$maxWXl: 2000px;
$modal-backdrop-opacity: 80%;